@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto:wght@100&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;  
}
body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: aqua;
    font-family: 'Segoe UI'
}

.clock{
    height:100vh;
    width:50%;
    display:flex;
    align-items:center;
    justify-content: space-between;

}

.clock div{
    background-color:white;
    height:100px;
    width:140px;
    align-items:center;
    justify-content: center;
    font-size:4rem;
    border-radius:0.3rem;
    display:flex;
    box-shadow:0 3px 10px rgb(0,0,0,0.5);
    letter-spacing:3px;
}

.clock span{
    font-size:3rem;
    color:aliceblue;
    font-weight:bold;

}


