@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto:wght@100&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;  
}
body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    
background: linear-gradient(29deg, #f8acff 0%,#696eff 97%);
    
}


.clock{
    height:100px;
    width:190px;
    display:flex;
    align-items:center;
    justify-content: space-between;

}

.clock div{
    background-color:white;
    height:100%;
    width:180px;
    align-items:center;
    justify-content: center;
    font-size:60px;
    border-radius:5px;
    display:flex;
    box-shadow:0 3px 10px rgb(0,0,0,0.5);
    letter-spacing:3px;
    padding:10px;
    margin:10px;
}

.clock span{
    font-size:60px;
    color:black;
    font-weight:bold;

}


